<p id="notice"><%= notice %></p>

<p>
  <strong>Contenr:</strong>
  <%= @micropost.contenr %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
